.authorization__form-fieldset {
  /* Экран */
  display: flex;
  flex-direction: column;
  max-width: 100%;
  max-height: 84px;
  gap: 30px;

  /* Стиль */
  border: none;

  /* Отступы */
  margin: 0;
  padding: 0;
}
