.button_header {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  color: #ffffff;
  border-style: none;
  text-decoration: none;

  margin: 0;
  padding: 0;
}