.authorization__form-content {
  /* Экран */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-width: 358px;
  min-height: 461px;

  /* Отступы */
  margin: 0 auto;
  padding: 0;
}

@media screen and (max-width: 568px) {
  .authorization__form-content {
    min-width: 260px;
    max-height: 404px;
  }
}