.authorization__input {
  /* Экран */
  height: 27px;

  /* Стиль */
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid white;
  outline: none;

  /* Текст */
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #cccccc;

  /* Отступы */
  margin: 0;
  padding: 0;
}
